/* style.css */

/* Remove o header e footer padrão do Streamlit */
header {visibility: hidden;}
footer {visibility: hidden;}

/* Customiza a fonte principal da aplicação */
body {
    font-family: 'Sans-serif', 'Arial';
}

/* Estiliza os botões */
div.stButton > button {
    background-color: #008037; /* Verde IFRO */
    color: white;
    border-radius: 5px;
    border: none;
    padding: 8px 16px;
    width: 100%;
}

div.stButton > button:hover {
    background-color: #00662c;
    color: white;
    border: none;
}

/* Estiliza o botão de finalizar pedido especificamente */
div.stForm [data-testid="stFormSubmitButton"] > button {
    background-color: #ffc107; /* Amarelo */
    color: #333;
}

div.stForm [data-testid="stFormSubmitButton"] > button:hover {
    background-color: #e0a800; /* Amarelo mais escuro */
    color: #333;
}

/* Adiciona uma borda sutil às seções do cardápio e carrinho */
[data-testid="stVerticalBlock"] {
    border-radius: 10px;
}

[data-testid="stVerticalBlock"] > [data-testid="stVerticalBlock"] {
     padding: 1rem;
}