/* style.css */

/* Remove o header e footer padrão do Streamlit */
header, footer {
    visibility: hidden;
}

/* Altera a cor do texto de erro para um tom de laranja queimado, em vez de vermelho. */
[data-testid="stException"] .st-emotion-cache-1wmy9hl {
    background-color: rgba(255, 122, 0, 0.15); /* Fundo laranja claro para o box de erro */
}

/* Garante que os botões de perigo/exclusão também usem um tom de laranja */
button[kind="secondary"], button[kind="secondary"]:hover {
    border-color: #FF7A00 !important;
    color: #FF7A00 !important;
}

button[kind="secondary"]:focus {
    box-shadow: #FF7A00 0px 0px 0px 0.2rem;
}
